<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
		이렇게 쓰면 Mybatis가 직접 연결 풀과 트랜잭션을 관리
		, 스프링없이 독립적으로 사용가능
		<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC"/>
				<dataSource type="POOLED"></dataSource>
			</environment>
		</environments>
	 -->
	 <settings>
	 	<!-- NULL일 때, NULL로 인식하도록 함 -->
	 	<setting name="jdbcTypeForNull" value="NULL"/>
	 	<!-- DB의 _를 java의 CamelCase에 자동으로 매핑해줌 -->
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	 </settings>
	 <!-- VO가 만들어질 때마다 추가 -->
	 <typeAliases>
	 	<typeAlias type="com.dec.spring.member.domain.MemberVO" alias="Member"/>
	 	<typeAlias type="com.dec.spring.notice.domain.NoticeVO" alias="Notice"/>
	 	<typeAlias type="com.dec.spring.board.domain.BoardVO" alias="Board"/>
	 </typeAliases>
	 <!-- mapper.xml 만들어질 때마다 추가 -->
	 <mappers>
	 	<mapper resource="mappers/member-mapper.xml"/>
	 	<mapper resource="mappers/notice-mapper.xml"/>
	 	<mapper resource="mappers/board-mapper.xml"/>
	 </mappers>
</configuration>